/* index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* 페이지의 기본 배경 색상 설정 */
}
body {
  width: calc(100vw - 0px); /* 뷰포트 너비에서 스크롤바 너비를 뺌 */
  overflow-x: hidden; 
}
* {
  box-sizing: border-box; /* 모든 요소에 박스 모델을 설정합니다. */

}
